body{
    /*background-color: #fff !important;*/
    background-color: #f8f8f8 !important;
}

.form-control-2 {
    padding: .375rem 15rem .375rem 1rem !important;
}

a.blue-login {
    color: #fff !important;
    background: #0082be;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-radius: 30px;
}

.margin-auto {
    /* text-align: center; */
    margin: 10px auto !important;
    padding-top: 15px;
}

.btn-blue-search {
    background: #0082be;
}

.fa-search {
    color: #fff !important;
}

img {
    width: 100%;
}

.uppercased {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 1.3rem !important;
    font-weight: bold;
}

.uppercased1 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 1.3rem !important;
    font-weight: bold;
    border-bottom: 3px solid #0082be;
    padding-bottom: 10px;
}

.bg-white {
    background-color: #fff !important;
}

.featured-more-right {
}

.product-featured h2 {
    font-size: 1.2rem !important;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 0 !important;
}

.product-featured p {
    color: #b8b8b8;
    margin-bottom: 0 !important;
    font-size: .8rem;
}

.product-featured h3 {
    color: #0082be !important;
    font-size: 1rem !important;
}

.product-featured {
    padding: 15px;
}

img.middle-banner {
    height: 0%;
}

.chat-banner {
    padding: 20px;
    text-align: center;
}

section.sec-04 {
    margin-top: 5%;
}

.footer {
    border-top: 1px solid #eee;
    padding: 20px;
}

.col-1-footer p {
    font-size: 0.6rem !important;
    color: #b8b8b8;
}

.footer-menu {
    font-size: .6rem !important;
    font-weight: bold;
    color: #0082be !important;
    margin-top: 10%;
}

.pad-0 {
    padding: 0px !important;
}

.bottom-footer h3 {
    font-size: 1.5rem !important;
    font-weight: 400;
    margin-top: 50px;
}

ul.shipping-partner {
    list-style: none;
    display: inline-flex;
}

.hr-blue {
    border-top: 5px solid #0082be !important;
}

.blues {
    color: #0082be !important;
    font-weight: bold;
}

img.img50 {
    width: 50% !important;
}

img.img70 {
    width: 70% !important;
}

img.img40 {
    width: 50% !important;
}

img.img30 {
    width: 30% !important;
}

section.featured {
    margin-top: 2%;
}

.bg-light {
    background-color: #fff !important;
}

section.sec-01 {
    margin-top: 37px;
}

ul.top-header {
    display: inline-flex;
    list-style: none;
}

ul.top-header > li {
    margin-left: 10px;
    margin-top: 7px;
}

.inline-flex {
    display: inline-flex;
    width: 100%;
}

.mr-ul-header {
    float: right;
    right: 20px;
    position: absolute;
}

.menu {
    position: absolute;
    background: #fff;
    left: 0;
    max-height: 405px;
}

.menu ul {
    list-style: none;
    padding-inline-start: 0px;
    margin-block-end: 0em;
    margin-block-start: 0em;
    padding: 0px;
    box-shadow: 0px 0px 5px #ccc;
}

.menu ul > li {
    padding: 10px 30px 10px 20px;
    font-size: .8rem;
    border: 1px solid #eee;
}

.header-menus {
    background: #0082be;
    color: #fff !important;
    font-size: 1rem !important;
    text-transform: uppercase;
}

.menus h2 {
    color: #0082be !important;
    text-transform: uppercase;
    font-size: .8rem !important;
    margin-bottom: 0;
}

/* .fa-shopping-cart {
    font-size: 25px;
    margin-top: 7px;
} */

.featured-more {
    border-top: 1px solid #eee;
    padding: 5px;
    position: relative;
    height: 30px;
}

.featured-more p {
    text-align: right;
    float: right;
    right: 10px;
    position: absolute;
    font-size: .8em;
    color: #0300CE;
}

.product-featured a {
    color: #000 !important;
    text-decoration: none;
}

.hr-blue1 {
    border-top: 3px solid #0300CE !important;
    margin-top: 0.2rem;
    margin-bottom: 1.2rem;
}

.desc {
    font-size: 0.8rem;
    padding: 0 10px;
}

.desc-content {
    /*padding-inline-start: 50px;*/
    color: #666;
}

.desc-price {
    color: #0300CE;
    font-size: 1rem;
    font-weight: bold;
}

.border-bottom-desc {
    border-bottom: 1px solid #eee;
}

.cart-button-detail {
    background: #0300CE;
    color: #fff;
    border-radius: 30px;
    padding: 10px 40px;
    margin-top: 10px;
}

.cart-button-detail:hover {
    cursor: pointer;
    color: #fff !important;
}

.cart-button-detail-checkout {
    background: #b9cb29;
    color: #fff;
    border-radius: 30px;
    padding: 10px 40px;
    margin-top: 10px;
}

.cart-button-detail-checkout:hover {
    cursor: pointer;
    color: #fff !important;
}

h2.title-detail {
    font-size: 1.5rem;
    color: #0300CE;
    max-width: 600px;
}

.detail-content-desc {
    padding: 20px 0;
    margin: 0;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-40 {
    margin-top: 40px;
}

.sec-desc-detail {
    margin-bottom: 3%;
}

@media (min-width: 576px) {

    .modal-dialog-img {
        max-width: 30% !important;
        margin: 13.75rem auto !important;
    }

    .modal-dialog {
        max-width: 70%;
        margin: 10.75rem auto;
    }

    
}

.table td {
    vertical-align: middle;
}

input.formodal[type="number"] {
    padding-inline-start: 10px;
}

.table .thead-blues th {
    color: #fff;
    background-color: #0082be !important;
    border-color: #0082be !important;
}

.subtotalmodal {
    font-weight: bold;
    font-size: 1.5rem;
}

.table-modal {
    border: 1px solid #eee;
}

.checkout-address p {
    font-size: 0.8rem;
    color: #666;
    padding: 10px;
    border: 2px solid #0082be;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.checkout-address h2 {
    background: #0082be;
    color: #fff;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.checkout-address1 h2 {
    background: #0082be;
    color: #fff;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.checkout-address1 {
    border: 2px solid #0082be;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.in-checkout-address1 {
    width: 95%;
    margin: 10px auto;
}

.margin-right-bottom {
    margin-right: 10px;
    margin-bottom: 15px;
}

#option-kurir {
    padding-top: 10px;
}
.in-checkout-address1 .money{
    min-width: 100px;
}

section.sec-checkout {
    margin: 7% 0 2% 0;
    background: #fff;
    padding: 2% 0;
}

.checkout-change {
    position: absolute;
    right: 20px;
    top: 7px;
    background: #fff;
    border-radius: 30px;
    padding: 4px 15px;
    font-size: .8rem;
}

.in-checkout-address2 {
    width: 95%;
    margin: 10px auto;
    /* border: 2px solid #0082be; */
}

table.in-checkout-address2 > tbody > tr > th {
    background: #0082be;
    padding: 10px;
    color: #fff;
}

table.in-checkout-address2 > tbody > tr {
    border-bottom: 1px solid #eee;
}

table.in-checkout-address1 > tbody > tr {
    border-bottom: 1px solid #eee;
}

table.in-checkout-address2 > tbody > tr > td {
    padding: 10px 10px;
}

.arrow-left {
    width: 100%;
}

.arrow-right {
    width: 100%;
}

.arrow-tab {
    background: #fff;
    margin-top: 20px;
}

ul.arrow-tabs {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-y: hidden;
    white-space: nowrap;
    overflow: hidden;
  }
  
  ul.arrow-tabs > li+li {
    padding: 1em 2em 1em 3em;
  }
  
  ul.arrow-tabs > li {
    padding: 1em 2em;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    text-transform: uppercase;
    background: #ccc;
  }
  
  ul.arrow-tabs > li:hover,
  ul.arrow-tabs > li:hover+li:before,
  ul.arrow-tabs > li.active,
  ul.arrow-tabs > li.active+li:before {
    background: #0082be;
    color: #fff;
  }
  
  ul.arrow-tabs > li:hover:before,
  ul.arrow-tabs > li.active:before {
    background: #ccc;
  }
  
  ul.arrow-tabs > li:last-child:after,
  ul.arrow-tabs > li+li:before {
    content: '';
    position: absolute;
    top: -0.2em;
    bottom: 0;
    border-right: solid #0082be;
    border-top: solid #0082be;
    /* pointer-events: none; */
    box-sizing: border-box;
    box-shadow: 3px -3px 6px -3px #0082be;/* a shadow effect can be added too */
    width: 3em;
    transform: rotate(30deg) skewy(30deg);
    z-index: 1;
  }
  
  ul.arrow-tabs > li:last-child:after {
    right: -1.5em;
    background: inherit;
  }
  
  ul.arrow-tabs > li+li:before {
    left: -2em;
  }

.btn-menu-side {
    color: #0082be;
    background-color: #ffff;
    border-color: #fff;
    border-radius: 0px;
    padding-right: 18px;
    position: absolute;
    font-size: 1rem !important;
    text-transform: uppercase;
    margin-top: 1px;
}

.caret {
    margin-left: 123px;
}

.btn-menu-side:hover {
    color: #fff !important;
}

ul.dropdown-menu > li {
    padding: 10px 30px 10px 20px;
    border-bottom: 1px solid #eee;
    font-size: .8rem !important;
}

/* tes */
ul, #myUL {
    list-style-type: none;
}

#myUL {
    margin: 0;
    padding: 10px;
}

.carets {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.carets::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */'
    transform: rotate(90deg);  
}

.nested {
    display: none;
}

.active {
    display: block;
}

input.optnumber {
    margin-right: 5px;
}

.alternate {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #0082be;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 28px;
    vertical-align: middle;
    text-align: center;
    padding-top: 5px;
}

.alternate a {
    color: #fff;
}

.rbt {
    max-height: 405px;
    height: 385px;
}

img.img-rbt {
    height: 365px;
    padding: 10px;
}

.kategoris {
    margin-top: 44px;
}

.menu-2 {
    min-width: 15.5rem !important;
}

.desccontent p {
    font-size: .9rem;
    margin-bottom: 0px;
}

.no-margin-b {
    margin-bottom: 0px !important;
}

table.table100 {
    width: 100%;
}

/* Zoom Image Plugin */

/* End Zoom Image Plugin */

.hide {
    display: none !important;
}

.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #090;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] + label>img {
  border: 1px solid #444;
  width: 150px;
  height: auto;
  transition: 500ms all;
  padding: 5px;
}

.list-bank li > input[type=radio]:checked {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #090;
  padding: 5px;
}

.list-bank li{
    padding: 5px;
}
form#bank-manual {
    text-align: center;
}
#btn-bayar{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.products iframe {
    margin: auto;
    width: 100% !important;
}

.products .form-group {
    margin-bottom: 0rem;
}

.products .margin-bottom-10 {
    margin-bottom: 25px;
    margin-top: 25px;
}

a {
    color: #0300CE !important;
    text-decoration: none;
    background-color: transparent;
}

.products form.desc {
    margin-top: 20px;
}

.products .col-md-8 {
    padding: 10px 40px;
}

.desccontent ul {
    font-size: .9rem;
}

.news-artikel {
    margin: 40px 0px;
}

.w100 {
    width: 100%;
    padding: 0px !important;
    margin: 0px !important;
}

.w100 .row {
    margin-bottom: 30px;
}

.news-artikel p {
    font-size: .8rem;
}

.content-article {
    height: 55px;
    overflow: hidden;
    margin-bottom: 10px;
    text-align: justify;
}

h2.title-detail a {
    text-decoration: none;
    color: #000 !important;
}

a.cart-button-detail {
    color: #fff !important;
}

.sideright h4 {
    font-size: 1rem;
    font-weight: bold;
}

.news-artikel h2 {
    font-size: 1rem !important;
    font-weight: bold;
    text-overflow: ellipsis;
    max-width: 200px;
    overflow: hidden;
    height: 60px;
}

.news-artikel img {
    margin-bottom: 20px;
}

.news-artikel .cart-button-detail {
    padding: 5px 25px;
}

.image-post {
    height: 250px;
    text-align: center;
    margin-bottom: 30px;
}

.image-post img {
    width: auto;
    height: 100%;
    margin: auto;
    text-align: center;
}

.news-artikel .bg-white.row.detail-content-desc {
    padding: 30px;
}

.latest-video h2 {
    margin-bottom: 0px;
    margin-top: 10px;
}

.news-artikel-baru img {
    margin-bottom: 20px;
    height: 250px;
    width: -webkit-fill-available;
    border-radius: 5px;
}

.mb-40 {
    margin-bottom: 40px;
}

.latest-video {
    margin-bottom: 20px;
}

.latest-video a {
    margin-top: 0px !important;
    margin-bottom: 20px;
}

.mt--10 {
    margin-top: -10px;
}

.videos .cart-button-detail {
    margin-top: 0px;
}

.forvideo iframe {
    width: 100% !important;
    height: 400px;
    border-radius: 5px;
}

.detail-video h3 {
    font-size: 1.2rem !important;
    font-weight: bold;
    color: #0300CE;
    margin-top: 10px;
}

.detail-video-sidebar {
    margin-bottom: 15px;
}

.detail-video-sidebar h3 {
    font-size: 1rem !important;
    font-weight: bold;
    color: #0300CE;
    margin-top: 10px;
}

.list-sidebar-video {
    height: 400px;
    overflow: auto;
}

.list-video-sidebar iframe {
    width: 100%;
    height: 100px;
}

.side-sidebar h3 {
    font-size: .8rem !important;
    font-weight: 500;
    color: #0300CE;
    margin-top: 10px;
}

.latest-video iframe {
    border-radius: 5px !important;
}

.list-video-sidebar iframe {
    border-radius: 5px;
}

.wrap-contact100 {
    width: 100%;
}

.contact100-form {
    width: 100%;
}

.rs1-wrap-input100 {
    margin-bottom: 1.5rem;
}

.contact100-form-title {
    font-size: 24px;
    color: #0300CE;
    font-weight: bold;
}

.input100::-webkit-input-placeholder { /* Edge */
  color: #eee;
}

.input100:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #eee;
}

.input100::placeholder {
  color: #eee;
}

#imageBrand {
    position: absolute;
    top: 0px;
    width: 100px;
    right: 10px;
}

.bingkai {
    position: relative;
}
#imgXzoomTitle {
    position: absolute;
    bottom: 10px;
    z-index: 1000;
    background: #0300CE;
    padding: 5px 10px;
    color: #fff !important;
}

.contact100-form {
    width: 100%;
    padding: 10px 40px;
}

.contact100-form-btn {
    background: #0300CE;
    border: 1px solid #0300CE;
    border-radius: 20px;
    color: #fff;
    padding: 10px 60px;
    margin-top: 20px;
}

.titlepadgaransi {
    margin: 0px 0px 20px 0px;
    padding: 10px 0px;
}

.product-featured .alert-success {
    width: 100%;
}

.mtb-10topbottom {
    margin-top: 30px;
    margin-bottom: 40px;
    background: #fff;
    padding: 20px;
}

.psrelformar {
    position: relative;
    /*margin-left: 10px !important;*/
    margin-top: -35px !important;
}

.formarquee {
    position: absolute;
    bottom: -39px;
    width: 595px;
    right: 5px;
    font-size: 16px;
    color: #0300CE;
    background: #fffe03;
    padding: 3px 3px 3px 3px;
}

.menu-category {
    height: 395px;
    overflow: auto;
    background: #fff;
    padding: 5px;
    font-size: 14px;
}

.menu-category li {
    padding: 7px;
    border-bottom: 1px solid hsla(241, 100%, 40%, .1);
}

.shopcart {
    margin-top: 0px;
}

.navbar-brand img {
    margin-top: 5px;
}

@media (max-width: 600px) {
	.navbar-brand img {
	    margin-top: 5px;
	}
	a.navbar-brand {
    	width: 300px;
	}
	img.img70 {
    	width: 60% !important;
	}
}

img.new-wa-float {
    width: 60px;
}

ul.wa li {
    display: inline;
}

.floatwa {
    position: fixed;
    bottom: 0;
    right: 80px;
    z-index: 9991;
}

.figures {
    height: 200px;
}

.figures img {
    margin-bottom: 0px !important;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-img2 {
    flex-shrink: 0;
    max-width: fit-content;
    max-height: 100%;
}

.betterplace {
    margin-bottom: 15px !important;
    border-bottom: 1px solid #eee;
}

.randomVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden!important;
    height: 95;
    position: relative;
}

.randomVideo img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 0px !important;
    border: 1px solid #eee;
    border-radius: 5px;
    text-shadow: 2px 2px 2px #eee;
}
.mpay {
    padding: 15px 50px;
}
.pay-content {
    margin-top: 20px;
}

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 1999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  }
  
  /* Animation */
  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
