.item-cart{
    display: table;
}
.item-cart > div{
    display: table-cell;
}

.head{
    font-size: 18px;
    font-weight: bold;
}
.price {
    font-size: 16px;
    color: #FC5B26;
    font-weight: bold;
}
.item-cart .product-thumb img {
    width: 150px;
    height: 150px;
    border: solid 1px #DBDBDB;
    border-radius: 5px;
    margin-top: 15px;
    margin-right: 10px;
}
.oper{
    position: absolute;
    top: 50%;
    right: 0px;
    width: auto;
    padding: 10px;
    margin: auto;
    /*
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;*/
}
.oper .list-inline li > input[type=number]{
    width: 50px;
    text-align: center;
}
.oper .list-inline li .fa-trash{
    font-size: 1.5em;
    vertical-align: middle;
}
.oper .list-inline li .fa{
    vertical-align: middle;
}
.oper .list-inline li button{
    border-radius: 50%;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
}
.oper .list-inline li button{
    border-radius: 50%;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #FFFFFF;
}
.oper .list-inline li .btn-minus{
    background-color: #B4BBC5;
}
.oper .list-inline li .btn-plus{
    background-color: #FB5821;
    
}
.voucher{
    
    border: solid 1px #DBDBDB;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
}
.voucher input[type="text"]{
    border: none;
    padding: 5px 4px;
    border-bottom: 1px solid #DBDBDB;
    width: 238px;
}
.voucher label {
    font-size: 18px;
    font-weight: lighter;
}
.line2{
    
}