@media (max-width:  768px) {
	.title-header h1 {
		font-family: 'Manrope', sans-serif;
		font-weight: 900;
		font-size: 28px;
	}
	iframe {
		height: -webkit-fill-available;
	}
	.w-85 {
		width: 45%;
	}
	.paket p {
		width: 100%;
		margin: 10px auto 20px;
		text-align: center;
	}
	.paket .col-md-4.text-center {
		margin-bottom: 40px;
		width: 90% !important;
		margin: 10px auto 10px;
	}
	.sustainable .col-md-6 {
		margin-bottom: 20px;
	}
	.sustainable .col-md-6:last-child {
		margin-bottom: 0px;
	}
	.sustainable .card {
		text-align: center;
	}
	.sustainable .col-md-8 {
		padding-top: 10px;
	}
	footer .col-md-3 {
		margin-top: 20px;
	}
	section.whychooseus.forwebsite {
		display: none;
	}
	section.whychooseus.formobile {
		display: block;
	}
	.whychooseus .scroll {
		position: relative;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		width: 100%;
		height: auto;
		padding: 1rem 0;
		margin: .5rem 0;
		cursor: default;
		overflow: scroll hidden;
		-ms-scroll-snap-type: x mandatory;
		scroll-snap-type: x mandatory;
		scroll-padding: 0px 1.25rem;
		scrollbar-width: none;
	}
	.whychooseus .scroll .card {
		width: 15rem;
		min-height: 680px;
		flex: 0 0 auto;
		margin: 0 0;
		border: none;
		outline: none;
		min-height: 280px;
		border-radius: 35px !important;
		color: #252a32;
		background: #ffffff;
		box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
		margin-right: 20px !important;
	}
	[data-animate].visible {
		opacity: 1;
	}

	[data-animate] {
		opacity: 0;
	}
	.whychooseus .scroll .card-image {
		position: relative;
		display: block;
		width: 100%;
		height: auto;
		padding-top: 110%;
	}
	.whychooseus .scroll .card-image img.responsive {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
	.whychooseus .scroll .card-inner {
		width: 100%;
		height: auto;
		padding: 2rem;
	}
	.whychooseus .text-title {
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 12px !important;
		margin-top: 20px;
	}
	.whychooseus .truncate {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		/* -webkit-line-clamp: 3; */
		max-width: 100%;
		min-height: 210px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.whychooseus .paragraph {
		font-family: inherit;
		font-size: 1rem;
		font-weight: normal;
		line-height: inherit;
		margin: 0.25rem 0;
		color: #252a32;
		text-transform: unset;
		text-rendering: optimizeLegibility;
	}
	.whychooseus .truncate p {
		font-size: 14px;
	}
	.w-50 {
		width: 80%!important;
	}
	section.sustainable {
		margin: 40px 0px;
	}
	.whychooseus {
		margin: 50px 0px;
	}
	.produk .col-md-4 {
		margin-bottom: 20px;
		width: 50%;
	}
	div#navbarCollapse {
		background: #fff;
		margin-top: 0px;
	}
	ul.navbarmenu li {
		list-style: none;
		display: block;
		margin: 10px 10px;
		color: #212121;
		padding-bottom: 10px;
	}
	.profiles img.w-100 {
		text-align: center;
		width: 80% !important;
	}
	.profiles .profilemobile {
		text-align: center;
		margin-bottom: 30px;
	}
	.uksiz {
		width: 100%;
		text-align: center;
		margin: auto;
	}
	.order-sm-last {
		order: 1 !important;
	}
	.donate-top h1 {
		margin-top: 20px;
	}
	.testimonial .carousel-caption {
		bottom: -19.75rem;
	}
	.testimonial .carousel-inner {
		height: 350px;
	}
}

@media (min-width: 767px) {
	section.whychooseus.forwebsite {
		display: block;
	}
	section.whychooseus.formobile {
		display: none;
	}
}