@media (max-width: 767px) {

    .navbar-light .navbar-toggler {
        float: right;
        margin: 10px 0;
    }

    .padding-logo {
        padding: 1rem 1rem;
    }

    .akun-belanja-right {
        top: 50%;
        right: -8%;
        transform: translate(-50%, -50%);
    }

    img.img20 {
        width: 30%;
    }

    .new-collapse {
        padding-left: 6%;
        padding-right: 40%;
        text-align: center;
        padding-top: 10px;
    }

    .mt-2, .my-2 {
        margin-top: .5rem!important;
        float: right;
    }

    section.banner-top {
        margin-top: 35%;
    }

    section.banners img {
        margin: 10px 0;
    }

    .product-featured h3 {
        margin-bottom: 50px;
    }

    .footer-menu {
        font-size: 1rem !important;
        margin-bottom: 20px;
    }

    .pad-0 {
        padding: 5px 0px !important;
    }

    .bg-blues p {
        margin-bottom: 0;
        font-size: .6rem;
        padding: 5px 0;
        text-align: center;
    }

    .col-md-4.col-1-footer {
        text-align: center;
    }

}

@media (max-width: 424px) {
    
    section.banner-top {
        margin-top: 40%;
    }

}