@media (max-width: 767px) {

    .menu {
        position: relative;
    }

    .banner-mobile-size {
        margin-top: 93%;
    }

    .rbt {
        max-height: 180px;
        height: 385px;
    }
    
    img.img-rbt {
        height: auto;
        padding: 10px;
    }

    div#navbarCollapse {
        padding-top: 20px;
    }

    .form-control-2 {
        padding: .375rem 1rem .375rem 1rem !important;
        width: 85%;
    }

    .bg-light {
        padding-bottom: 6px;
        box-shadow: 1px 1px 5px #eee;
    }

    .navbar-nav {
        text-align: center;
    }

    .kategoris {
        margin-top: 73px;
    }

    img.img50 {
        width: 100% !important;
    }

    .footer-menu {
        font-size: 1rem !important;
        margin-bottom: 20px;
    }

    .pad-0 {
        padding: 5px 0px !important;
    }

    .bg-blues p {
        margin-bottom: 0;
        font-size: .6rem;
        padding: 5px 0;
        text-align: center;
    }

    .blues {
        font-size: .6rem;
    }

    .footer {
        padding: 10px;
    }

    .form-control-2 {
        padding: .375rem 2rem .375rem 1rem !important;
    }

    .modal-dialog {
        margin-top: 5rem;
    }

    .checkout-address1 {
        margin-top: 20px;
    }

    .margin-auto {
        text-align: center;
        margin: auto !important;
    }

}

@media (max-width: 424px) {

    .banner-mobile-size {
        margin-top: 105%;
    }

}